@font-face {
    font-weight: normal;
    font-family: "Circle";
    font-style: normal;
    src: url("fonts/Circe-Regular.ttf") format("ttf");
    font-display: swap;
  }
  
@font-face {
    font-weight: bold;
    font-family: "Circle";
    font-style: normal;
    src: url("fonts/Circe-Bold.ttf") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
    font-display: swap;
}

body {
    width: 1923px;
    margin: 0;
    padding: 0;
    font-family: "Circle", Arial, sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: black;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}
  
a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1121px;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 579px;
}

.main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 444px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 14px;
    letter-spacing: 1.5px
}

.main-nav__item {
    min-height: 51px;
    line-height: 51px;
    font-size: 12px;
}

.main-nav__item--active {
    position: relative;
}

.main-nav__item::after {
      content: "";

      position: absolute;
      right: 0;
      bottom: -3px;
      left: 0;

      height: 3px;

      background: #e84e33;

      transform: skew(30deg);
}

.main-nav__search {
    margin-top: 30px;
}

